# advertiser.csv 파일 title 추가

# 라이브러리 import

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import requests # 웹 상의 데이터를 가져올 때
from bs4 import BeautifulSoup # 가져온 데이터에서 필요한 정보를 골라낼(파싱할) 때

In [21]:
# 셀레니움 import
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup

# data 열기

In [143]:
# 판매자 df
advertiser = pd.read_csv("./ad/data/advertiser.csv")
advertiser

,user_id,favorite_count,grade,item_count,interest,review_count,comment_count,follower_count,pay_count,parcel_post_count,transfer_count,chat_count
0,2487730,1899,7673,431,31681,775,529,0,575,0,35,130
1,1462217,799,5520,433,16794,570,250,0,942,0,57,11
2,6972746,3692,7526,2530,36944,776,828,0,325,0,10,13
3,1358510,1228,2106,100,27142,223,431,0,232,9,1,4
4,1358510,1228,2106,100,27142,223,431,0,232,9,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1534,10255755,2063,7539,784,3424,755,392,0,677,0,5,236
1535,10255755,2063,7539,784,3424,755,392,0,677,0,5,236
1536,10255755,2063,7539,784,3424,755,392,0,677,0,5,236
1537,10255755,2063,7539,784,3424,755,392,0,677,0,5,236
1538,2604332,851,4223,296,32165,435,626,0,94,22,4,4

In [8]:
advertiser_unique = advertiser.drop_duplicates()
advertiser_unique

,user_id,favorite_count,grade,item_count,interest,review_count,comment_count,follower_count,pay_count,parcel_post_count,transfer_count,chat_count
0,2487730,1899,7673,431,31681,775,529,0,575,0,35,130
1,1462217,799,5520,433,16794,570,250,0,942,0,57,11
2,6972746,3692,7526,2530,36944,776,828,0,325,0,10,13
3,1358510,1228,2106,100,27142,223,431,0,232,9,1,4
5,5051200,254,692,77,6462,74,0,0,196,8,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1507,75231266,28,38,193,69,5,0,0,11,1,0,2
1513,5332936,2,51,12,289,5,1,0,1,0,0,0
1514,8173665,4,10,16,26,1,5,0,2,0,0,0
1524,2294187,462,3720,833,1228,376,0,0,186,1,6,60
1527,74805836,1,0,10,7,0,0,0,0,0,0,0

In [116]:
# 판매자 id 인덱싱
user_id = advertiser_unique["user_id"]
user_id

0        2487730
1        1462217
2        6972746
3        1358510
5        5051200
          ...
1507    75231266
1513     5332936
1514     8173665
1524     2294187
1527    74805836
Name: user_id, Length: 372, dtype: int64

# 확인

In [43]:
# 크롬창 열기
driver = webdriver.Chrome('./chromedriver.exe')

# url정의
url = f'https://m.bunjang.co.kr/shop/{user_id[0]}/products'
driver.get(url)

# xpath를 이용한 데이터 크롤링
title = driver.find_element_by_xpath('//*[@id="root"]/div/div/div[4]/div/div[1]/div/div[2]/div[1]/div[1]').text
title

In [66]:
title

['이수컴',
 '최저가전',
 '북부통신',
 '바이크빌드',
 '스마일Tool',
 '누보클레',
 '중고폰요정',
 '명품직수입전문',
 '믿고사는사회를',
 '홍키네노트북상점',
 '노트양',
 '신용정석자',
 '곰토리a',
 '(차단)코코무드',
 'AIROK2',
 'DOS빈티지',
 '폰특공대',
 '꿀폰나라',
 '다이아커머스',
 '또와티켓',
 '윌리엄셰익스피어',
 '핸드폰장인2',
 '전자몰',
 '하블리언니',
 '워터파크할인샵',
 '버스폰',
 'Hyun2Mall',
 '핸드폰장인1',
 '한국식품반찬가게',
 '개인회생파산신청문의',
 '빨리드려요',
 '양뒷땅',
 '래리고8282',
 '봉뚱뚱',
 '우라빈티지',
 '보배티켓입니다',
 '윤또샵',
 '블링블링로맨틱걸',
 '더높은곳을향하여',
 '서초구청로캣배송',
 'soaw빈티지',
 '에이바넷',
 '하늘통신',
 '세렌티피티여성의류',
 '핸드폰장인4',
 '골마트72',
 '아라리만물',
 'contory',
 '댕유마켓',
 '용산조립PC',
 '쑤리쑤리마술이',
 'whasun2',
 'mo08',
 'Touchwiz',
 '나나시스터즈',
 'qaz1346798',
 '은혜엔틱',
 '상점명 수정',
 '이방인93',
 'LGUPLUS인터넷',
 '컴파는엉아',
 '김이브',
 '강남최고야',
 '서울시계',
 '리얼옴므',
 '폴로칩',
 '언어치료사',
 '상품신뢰',
 '잰서스',
 '골프마실',
 '앤틱모아',
 '피시덕',
 '상점명 수정',
 '뷰티HOLIC',
 '(차단)rr중고상점',
 'FC여수',
 '트레이닝맛집TN',
 '명품의끝',
 '황금꿀단지',
 '장터노트북전문점',
 '매너있어요',
 '은빛하늘나무',
 '봉봉언니샵',
 '쿠쿠앤나리',
 '싱그러운하루',
 '완판마켓',
 '잭슨언니',
 '떡메랩핑지띵',
 '리나세인트',
 '보라마녀2',
 '리마인드상점',
 '전사빠',
 'BOUNCE',
 '기프나라',
 '신우인더스트리',
 'AIROK',
 '당신의소듕한가게',
 '선물PC최팀장',
 '(차단)구공블랙',
 'MAEnam',
 '착한마후라',
 'automark',
 '인터넷TV특핀점',
 '숨37화장품',
 '테크몰',
 '닌텐도칩게임기매입',
 '모던컴',
 'onionsauce',
 '상점명 수정',
 '레드아이1',
 '우이어링앤피어싱',
 '중고차장다윗실장',
 '핸드폰장인',
 'SY컴퍼니',
 '여기로쇼핑',
 '명품휠스토리본점',
 '렌탈삼촌',
 '수입빈티지소품',
 '더굿컴퍼니마켓',
 '코인트레이더',
 '마른하늘007',
 '부티크가방',
 '우호1024',
 '메이통신',
 '상점명 수정',
 '다영상사',
 '하이퀄리킹',
 '티비싸다',
 '다이짜나빈티지',
 '휠랄라',
 '영패션아이테크',
 '대구키다리용달',
 '에스엠컴퓨터',
 '키작은누나',
 '빈티지르뽀렘',
 '애슐리상점',
 'SHPC',
 '중고차사구파는정비사',
 '한스룸',
 '기도만이답',
 'SM중고명품',
 '더바비love',
 '단디네노트북상점',
 '행운재활용센터',
 '보물이다',
 '아아아앙잉링',
 '혼디바당',
 '사과박물관',
 '동묘레트로',
 '하프북',
 '빨리와용달',
 '폰커밍몰',
 '정직하게판매할께욤',
 '공구모든',
 '빨리사는사람임자',
 '아이캣유',
 '안경디자이너',
 '반림인테리어도매유통',
 '윤삐약네',
 '신화마스크',
 'Borego',
 '삼천대천세계',
 '오토마크디테일링',
 '티켓머니상품권',
 '007스카이',
 '명인창호',
 '중고폰전문매입판매',
 '농장아들',
 '내가사는그집인테리어',
 '한나몰',
 '용신당',
 '쏘블레',
 'BMMOTO',
 '행운의여신롱',
 '생활필수용품샵',
 '221809',
 '멍든새',
 '서울골프아지매',
 'MVP로스트볼',
 '갤럭시노트20울트롸',
 '우디우드',
 '어반핑쿠',
 'Blue피씨',
 '맥월드',
 'chicago만물상',
 '이브닝로드',
 '76888807호',
 '아이폰중고매입',
 '펫푸드',
 '인성전자',
 '다온하랑가격제안가게',
 'ITTEM4398',
 '만물상장수',
 '랄프진',
 '코팅제연구소',
 '느린우체통',
 '수도권전문',
 '착한자전거',
 '라이팅앤빈티지',
 '스키엄마',
 '엠스토리mstory',
 '조립식앵글수납선반',
 'Leopard7',
 '폴로나이키정품맛집',
 '리브스17',
 '전국최저가컴도매',
 '매머드케이스',
 '라돌체앙쥬',
 '키위네마켓',
 'MLB아울렛',
 'KB모토트레이딩',
 '안마기전문쇼핑몰',
 '아리엘토탈퍼니쳐',
 '남자정장전문',
 '아르케인',
 '드래곤상점',
 '로즈로즈로즈',
 '딴지율',
 '540309',
 'NAMOOo',
 '상상을바라보다',
 'RALPHCODE',
 '단미DanMi',
 '누운뇽',
 '뷰티힐러SS',
 '울산갓파',
 'momppe몸빼',
 'JB',
 '쏘호이',
 'styleOC',
 '뽀로로샾',
 '쿠폰마켓24',
 '멜로즈빈티지',
 'A.C.C',
 '승미상점',
 '폰뜨기폰',
 '퍼스트컴몰',
 '(차단)명품매입짱맨',
 '자연애향',
 '미트앤맛나',
 'The사라']

# 실습

In [117]:
# 빈 딕셔너리 생성
dic_ = {
    'user_id': [],
    'title': []
}

In [119]:
# 크롬창 열기
driver = webdriver.Chrome('./chromedriver.exe')

title = []

for i in user_id:
    # url정의
    url = f'https://m.bunjang.co.kr/shop/{i}/products'
    driver.get(url)
    # xpath를 이용한 데이터 크롤링
    try:
        title = driver.find_element_by_xpath('//*[@id="root"]/div/div/div[4]/div/div[1]/div/div[2]/div[1]/div[1]').text
    except:
        title = "none"
        pass
    
    dic_["user_id"].append(i)
    dic_["title"].append(title)

In [120]:
len(dic_["user_id"]), len(dic_["title"])

(372, 372)

In [126]:
# DataFrame화
df = pd.DataFrame(dic_)
df

      user_id    title
0     2487730      이수컴
1     1462217     최저가전
2     6972746     북부통신
3     1358510    바이크빌드
4     5051200  스마일Tool
..        ...      ...
367  75231266  그림겔러리정리
368   5332936     현규대장
369   8173665   아리아리12
370   2294187  저렴이중고가게
371  74805836   제이푸드트럭

[372 rows x 2 columns]

In [127]:
# "title"이 존재하지 않는 data
df[df["title"]=="none"]

     user_id title
202   703647  none

In [136]:
# data값 변경
df.loc[202, "title"] = 'Leopard7'

In [137]:
df.loc[202]

user_id      703647
title      Leopard7
Name: 202, dtype: object

In [141]:
df_title = pd.merge(advertiser, df, how='left', on="user_id")

In [142]:
df_title.to_csv("advertiser_title.csv", index=False)